body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(141, 125, 199);
}

.App {
  display: flex;
  justify-content: center;
	text-align: center;
	margin: auto auto;
	margin-top: 1rem;
	height: 100%;
}

